<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>version</key>
	<string>0.7</string>
	<key>launchAd</key>
	<string>ca-app-pub-9068499751581929/9408343890</string>
	<key>helps</key>
	<array>
		<dict>
			<key>title</key>
			<string>致用户的一封信</string>
			<key>content</key>
			<string>朋友您好
 
    我想对您表示最深切的感谢。您对《漫客》的信任、支持和持续使用，使我充满力量，让我富有前行的动力。
 自《漫客》推出以来，我收到了很多的反馈，其中大部分都是积极的，这让我深感欣慰。我明白这是对我的鼓励，这也将推动我不断前进。</string>
			<key>children</key>
			<array>
				<dict>
					<key>title</key>
					<string>漫客的由来与初衷</string>
					<key>content</key>
					<string>这一切源于我自身对动漫的兴趣（名子源于今年4月中旬去深圳塘朗山散心时听人恰巧放着邓丽君的《漫步人生路》一时感概而来）。无论是曾经痴迷或是当下喜爱，他们中的很多总要去各大视频站点找寻资源，但网络的繁杂让他们就如漂泊的孤舟迷失在信息的海洋，做一款记录他们的软件在我心中埋下种子。直到《鬼灭之刃》锻刀村篇章上线这一切终于被提上日程。比起当下的精彩绝伦兴许只有回味方知日久弥新，因此在我最初的设想里《漫客》应该是一款记录为主的App，他该是我的一本日记而非单一的播放器。时光如水，悄然无声，追番的日子里，我沉醉其中。然而，光阴似箭，岁月如梭，当我回首，才发现时间已逝，昨日已是从前。期许未来的某天打开《漫客》热爱未曾退去，回忆更添香浓。</string>
				</dict>
				<dict>
					<key>title</key>
					<string>致歉</string>
					<key>content</key>
					<string>很抱歉不能给你带来更完善的体验，由于《漫客》是我业余时间制作的一款软件，没有经过很好的打磨与合理的设计，甚至也没有完善的测试。由于工作中几乎没有接触SwiftUI的机会，《漫客》更像是我学习SwiftUI练手的玩具。同时由于我也没有充足的时间与精力用于《漫客》，因此开发进度也相对缓慢。除此之外在考虑到一些法律与版权因素的限制，部分用户曾向我提出的意见我也无法兑现。也很抱歉在作为《漫客》用户的同时也身兼测试者的身份，如果您在使用的过程中遇到了任何问题或者发现任何bug，欢迎您随时向我反馈。</string>
				</dict>
				<dict>
					<key>title</key>
					<string>致谢</string>
					<key>content</key>
					<string>再次感谢您对《漫客》的信任和支持。您的每一次下载、每一次使用、每一次分享，都是对我付出的肯定，也是我前进的动力。同时，我也明白，《漫客》还有许多需要改进的地方。您的每一次反馈，无论是赞扬还是批评，我都视为一次学习和改进的机会。
 
 祝您一切顺利！
 最诚挚的感谢
 2023年12月18日
 
 
 
 </string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>关于App中的广告</string>
			<key>content</key>
			<string>广告是《漫客》的唯一收入来源之一，而且只有开屏广告其他任何网页与视频中的广告与《漫客》没有任何关系。
 收入微薄，喝杯茶而已😊希望能够理解。</string>
			<key>children</key>
			<array>
				<dict>
					<key>title</key>
					<string>广告选型</string>
					<key>content</key>
					<string>相比其他平台广告我个人更喜欢AdMob的广告洁净的UI风格，因此选取AdMob作为《漫客》的广告SDK。选择开屏广告是由于我希望用户在启动时可以稍侯一会，给《漫客》一点数据同步与加载的时间(基于iCloud)。</string>
				</dict>
				<dict>
					<key>title</key>
					<string>为什么不能付费去广告</string>
					<key>content</key>
					<string> 站在我个人的角度，我可以理解广告带来的负面效果，甚至会过滤掉很多用户。但由于《漫客》还处于缓慢的开发过程中，并且我希望所有用户能获取更全面的体验，因此之前并没有考虑任何付费项目。同时我更愿意相信多一丝耐心的你们能够给出更为客观与细致的建议帮助《漫客》变的更好。</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
