<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>version</key>
	<string>0.7.1</string>
	<key>helps</key>
	<array>
		<dict>
			<key>title</key>
			<string>关于嗅探</string>
			<key>content</key>
			<string>资源嗅探</string>
			<key>children</key>
			<array>
				<dict>
					<key>title</key>
					<string>1. 嗅探失败</string>
					<key>content</key>
					<string>嗅探失败就失败嘛，这不是很正常嘛</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
