<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>version</key>
	<string>0.9.7</string>
	<key>launchAd</key>
	<string>ca-app-pub-9068499751581929/9408343890</string>
	<key>payment</key>
	<integer>2</integer>
	<key>helps</key>
	<array>
		<dict>
			<key>title</key>
			<string>致用户的一封信</string>
			<key>content</key>
			<string>https://support.waterplayfire.club/files/html/manke.html</string>
		</dict>
		<dict>
			<key>title</key>
			<string>关于漫客PRO</string>
			<key>content</key>
			<string>https://support.waterplayfire.club/files/html/mankepro.html</string>
		</dict>
		<dict>
			<key>title</key>
			<string>关于下载功能</string>
			<key>content</key>
			<string>https://support.waterplayfire.club/files/html/download.html</string>
		</dict>
		<dict>
			<key>title</key>
			<string>关于嗅探</string>
			<key>content</key>
			<string>https://support.waterplayfire.club/files/html/finder.html</string>
		</dict>
	</array>
	<key>feedbacks</key>
	<array>
		<dict>
			<key>name</key>
			<string>QQ留言</string>
			<key>image</key>
			<string>icon_qq</string>
			<key>link</key>
			<string>mqq://im/chat?chat_type=wpa&amp;uin=785013820&amp;version=1&amp;src_type=web</string>
		</dict>
	</array>
	<key>news</key>
	<dict>
		<key>title</key>
		<string>消息中心</string>
		<key>time</key>
		<integer>2502281800</integer>
		<key>messages</key>
		<array>
			<dict>
				<key>title</key>
				<string>漫客内购调整</string>
				<key>content</key>
				<string>https://support.waterplayfire.club/files/html/changepro.html</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
