<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>version</key>
	<string>0.8.6</string>
	<key>launchAd</key>
	<string>ca-app-pub-9068499751581929/9408343890</string>
	<key>helps</key>
	<array>
		<dict>
			<key>title</key>
			<string>致用户的一封信</string>
			<key>content</key>
			<string>朋友您好
 
    我想对您表示最深切的感谢。您对《漫客》的信任、支持和持续使用，使我充满力量，让我富有前行的动力。
 自《漫客》推出以来，我收到了很多的反馈，其中大部分都是积极的，这让我深感欣慰。我明白这是对我的鼓励，这也将推动我不断前进。</string>
			<key>children</key>
			<array>
				<dict>
					<key>title</key>
					<string>漫客的由来与初衷</string>
					<key>content</key>
					<string>这一切源于我自身对动漫的兴趣（名字源于今年4月中旬去深圳塘朗山散心时恰巧听到一首邓丽君的《漫步人生路》）。无论是曾经痴迷或是当下喜爱，他们中的很多总要去各大视频站点找寻资源，但网络的繁杂让他们就如漂泊的孤舟迷失在信息的海洋，做一款记录他们的软件在我心中埋下种子。直到《鬼灭之刃》锻刀村篇章上线这一切终于被提上日程。比起当下的精彩绝伦兴许只有回味方知日久弥新，因此在我最初的设想里《漫客》应该是一款记录为主的App，他该是我的一本日记而非单一的播放器。时光如水，悄然无声，追番的日子里，我沉醉其中。然而，光阴似箭，岁月如梭，当我回首，才发现时间已逝，昨日已是从前。期许未来的某天打开《漫客》热爱未曾退去，回忆更添香浓。</string>
				</dict>
				<dict>
					<key>title</key>
					<string>致歉</string>
					<key>content</key>
					<string>很抱歉不能给你带来更完善的体验，由于《漫客》是我业余时间制作的一款软件，没有经过很好的打磨与合理的设计，甚至也没有完善的测试。由于工作中几乎没有接触SwiftUI的机会，《漫客》更像是我学习SwiftUI练手的玩具。同时由于我也没有充足的时间与精力用于《漫客》，因此开发进度也相对缓慢。除此之外在考虑到一些法律与版权因素的限制，部分用户曾向我提出的意见我也无法兑现。很抱歉在您作为《漫客》用户的同时也需要身兼测试者的身份，如果您在使用的过程中遇到了任何问题或者发现任何bug，欢迎您随时向我反馈。</string>
				</dict>
				<dict>
					<key>title</key>
					<string>致谢</string>
					<key>content</key>
					<string>再次感谢您对《漫客》的信任和支持。您的每一次下载、每一次使用、每一次分享，都是对我付出的肯定，也是我前进的动力。同时，我也明白，《漫客》还有许多需要改进的地方。您的每一次反馈，无论是赞扬还是批评，我都视为一次学习和改进的机会。
 
 祝您一切顺利！
 最诚挚的感谢
 2023年12月18日
 
 
 
 </string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>关于漫客PRO</string>
			<key>content</key>
			<string>
由于目前有少量用户有去广告的需求，所以直接添加了漫客PRO付费项，目前主要是针对需要去广告的用户。其他用户仍旧免费享有所有功能，且当前免费功能也将永久免费。

《漫客》近期已经完成ICP备案，确保付费用户可以稳定的体验最新内容。（最近某些会员也没续费了，所有番剧都使用漫客，一边追番一边自我体验和改进中）
由于漫客断更了很长一段时间，且早期一些设定并不适合后续需求的更新，漫客近期更多的是在作数据结构的调整，且无法一次性更改全部，需要缓步进行（毕竟已经有好多用户了，出了岔子很难收场了，至今都不知道为什么给一星差评😭，同时在此感谢所有好评的用户）</string>
			<key>children</key>
			<array>
				<dict>
					<key>title</key>
					<string>我对漫客PRO当下的态度</string>
					<key>content</key>
					<string>如无必要当前我并不推荐购买，理由如下：

1. 由于当前处于前期开发中，且我本人有工作和多项商业性质项目需要分散大部分时间与精力，而《漫客》仅仅是我的兴趣之作(实际上该苹果开发者账户下App均是为我个人开发的工具)。

2. 开发《漫客》很大一部分缘故就是源于我个人的追番需求，因此追番必不可少也会占据我一部分时间(此外，游戏我也没少玩，不过最近为了开发漫客功能《命运方舟》都没玩了)

3. 重中之重，我原本的设想就是通过广告获取一些流量收益，毕竟本身我并不希望过多商业化《漫客》，因为我自己就是最忠实的用户。（双向白嫖不好吗😊，现在要上缴30%苹果税了）

PS: 还是希望您可以给这小小的广告多一份包容，每一次点击查看都是对我莫大的支持。</string>
				</dict>
				<dict>
					<key>title</key>
					<string>漫客PRO定价</string>
					<key>content</key>
					<string>月卡：6元/月，由于《漫客》不仅仅用于中国大陆地区，所以选择月卡选择的最低档0.99美元档位，即大陆地区6元档位。

年卡：58元/年，即6*6与6*12之间选择的一个合适价位

永久卡：98元/年，由于《漫客》尚未达到我完整的预期，且我会根据反馈合理优化功能，所以此项仅为一个临时设置项，如有购买感谢您的大力支持

PS：当下推荐需要去广告的用户选择【年卡】(推介优惠期间：首年仅需28元)，用户也可以根据后续对漫客的体验选择是否继续订阅。(当前所有定价都是暂时的，后续可能调整)



感谢您的耐心阅览
2023年12月29日


</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>关于App中的广告</string>
			<key>content</key>
			<string>广告是《漫客》的唯一收入来源之一，而且只有开屏广告其他任何网页与视频中的广告与《漫客》没有任何关系。
 收入微薄，喝杯茶而已😊希望能够理解。</string>
			<key>children</key>
			<array>
				<dict>
					<key>title</key>
					<string>广告选型</string>
					<key>content</key>
					<string>相比其他平台广告我个人更喜欢AdMob洁净的UI风格，因此选取AdMob作为《漫客》的广告SDK。选择开屏广告是由于我希望用户在启动时可以稍侯一会，给《漫客》一点数据同步与加载的时间(基于iCloud)。</string>
				</dict>
				<dict>
					<key>title</key>
					<string>为什么不能付费去广告</string>
					<key>content</key>
					<string> 站在我个人的角度，我可以理解广告带来的负面效果，甚至会过滤掉很多用户。但由于《漫客》还处于缓慢的开发过程中，并且我希望所有用户能获取更全面的体验，因此之前并没有考虑任何付费项目。同时我更愿意相信多一丝耐心的你们能够给出更为客观与细致的建议帮助《漫客》变的更好。</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>关于下载功能</string>
			<key>content</key>
			<string>想要加入下载功能主要源于网络资源资源播放经常卡顿体验极差，因此为了有个流畅的观影环境给《漫客》添加了下载功能，也因此《漫客》并没有针对直播视频单独开发录播功能。</string>
			<key>children</key>
			<array>
				<dict>
					<key>title</key>
					<string>为什么会下载失败</string>
					<key>content</key>
					<string>除了基本的网络问题外，其中最大的原因是大量的网络资源存在时效性。下载主要异常包括但不限于：
1.站点变更或异常导致下载失败；
2.链接自带时效限制，导致中断App后再次启动时下载失败；
3.资源访问受限，或极度缓慢；
4.资源经过特殊加密（此时通常为可下载，或只能下载部分内容导致无法正常播放）；
5.本人拙劣的技术问题(由于网络资源繁杂，下载功能受限于我自己接触到的资源种类，望各位体谅)</string>
				</dict>
				<dict>
					<key>title</key>
					<string>关于下载存储问题</string>
					<key>content</key>
					<string>1. 下载中的文件被存储在临时目录，超过一定实现文件丢失无法继续下载，只能重新开始任务；
2. 完成下载的资源并非永久存储，当手机剩余存储过小时，系统可能会清除缓存；
3. 受到相关到政策限制，谨慎考虑后《漫客》不提供导出功能</string>
				</dict>
				<dict>
					<key>title</key>
					<string>关于后台下载</string>
					<key>content</key>
					<string>1. 《漫客》默认支持后台下载（如果下载时有需要，请不要杀死App）；
2. 后台下载可能遇到上述问题，导致资源下载失败或者丢失属于正常现象；</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>关于嗅探</string>
			<key>content</key>
			<string>
嗅探功能是参考其他浏览器简单的获取HTML页面上的音/视频资源，并不会进行任何加密解密操作。而《漫客》的嗅探功能仅仅只是为了简化用户记录资源信息步骤而存在的。

由于嗅探功能提供给不同地区的用户，且《漫客》无法确认用户可能访问那些站点，因此如有侵权请及时通过App内部联系方式提供相关信息以录入嗅探黑名单。
</string>
			<key>children</key>
			<array>
				<dict>
					<key>title</key>
					<string>静默嗅探失败的原因</string>
					<key>content</key>
					<string>
1. 嗅探更多的是用于页面静默扫描，因此并没有对页面进行长久监听（实际是页面展示后大约20秒）。

2. 网页视频资源加载前可能存在广告或其它交互行为。

3. 浏览器模块只是临时开发，且每次启动都是单独缓存空间（即无痕模式），因此对于部分站点可能需要身份验证后才可访问；

4. 对于嗅探黑名单列表内的站点不提供嗅探服务

PS：针对上述情况无法静默嗅探，需要用户自行点击播放页面标题上方的站点信息前往浏览器进行交互，然后刷新页面再次触发嗅探。</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>feedbacks</key>
	<array>
		<dict>
			<key>name</key>
			<string>QQ留言</string>
			<key>image</key>
			<string>icon_qq</string>
			<key>link</key>
			<string>mqq://im/chat?chat_type=wpa&amp;uin=785013820&amp;version=1&amp;src_type=web</string>
		</dict>
	</array>
</dict>
</plist>
