<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>version</key>
	<string>0.8.3</string>
	<key>launchAd</key>
	<string>ca-app-pub-9068499751581929/9408343890</string>
	<key>activityTitle</key>
	<string>新年特惠</string>
	<key>news</key>
	<dict>
		<key>time</key>
		<integer>0</integer>
		<key>messages</key>
		<array>
			<dict>
				<key>title</key>
				<string>月卡·新春免费体验</string>
				<key>content</key>
				<string></string>
				<key>children</key>
				<array>
					<dict>
						<key>content</key>
						<string>https://apps.apple.com/redeem?ctx=offercodes&amp;id=6446447265&amp;code=6XRLLYN8AFEHW6P3NE</string>
						<key>title</key>
						<string>领取新年礼品卡</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<key>helps</key>
	<array>
		<dict>
			<key>title</key>
			<string>致用户的一封信</string>
			<key>content</key>
			<string>https://support.waterplayfire.club/files/html/manke.html</string>
		</dict>
		<dict>
			<key>title</key>
			<string>关于漫客PRO</string>
			<key>content</key>
			<string>https://support.waterplayfire.club/files/html/mankepro.html</string>
		</dict>
		<dict>
			<key>title</key>
			<string>关于App中的广告</string>
			<key>content</key>
			<string>广告是《漫客》的唯一收入来源之一，而且只有开屏广告其他任何网页与视频中的广告与《漫客》没有任何关系。
 收入微薄，喝杯茶而已😊希望能够理解。</string>
			<key>children</key>
			<array>
				<dict>
					<key>title</key>
					<string>广告选型</string>
					<key>content</key>
					<string>相比其他平台广告我个人更喜欢AdMob洁净的UI风格，因此选取AdMob作为《漫客》的广告SDK。选择开屏广告是由于我希望用户在启动时可以稍侯一会，给《漫客》一点数据同步与加载的时间(基于iCloud)。</string>
				</dict>
				<dict>
					<key>title</key>
					<string>为什么不能付费去广告</string>
					<key>content</key>
					<string> 站在我个人的角度，我可以理解广告带来的负面效果，甚至会过滤掉很多用户。但由于《漫客》还处于缓慢的开发过程中，并且我希望所有用户能获取更全面的体验，因此之前并没有考虑任何付费项目。同时我更愿意相信多一丝耐心的你们能够给出更为客观与细致的建议帮助《漫客》变的更好。</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>关于下载功能</string>
			<key>content</key>
			<string>https://support.waterplayfire.club/files/html/download.html</string>
		</dict>
		<dict>
			<key>title</key>
			<string>关于嗅探</string>
			<key>content</key>
			<string>https://support.waterplayfire.club/files/html/finder.html</string>
		</dict>
	</array>
	<key>feedbacks</key>
	<array>
		<dict>
			<key>name</key>
			<string>QQ留言</string>
			<key>image</key>
			<string>icon_qq</string>
			<key>link</key>
			<string>mqq://im/chat?chat_type=wpa&amp;uin=785013820&amp;version=1&amp;src_type=web</string>
		</dict>
	</array>
</dict>
</plist>
